.spinner {
/*    background-image: url('images/loading.gif');
    background-size: em(150);
    background-repeat: no-repeat;
    background-position: center;*/
    text-align: center;
    width: 100%;
}

.loader {
    width: 10%
}